/* resetando as configurações da pagina */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;

}
.mainImg {
   width: 250px;
}



/*  adequação header para mudar a cor do plano de fundo */

header {
    grid-area: header;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color:#439342;
}

/*  limitando o conteudo da nav para não colar nas bordas da pagina */

#cont {
    width: 80%;
    height: 100%;
    display: flex;
}

/*  configurando as seções a partir do "pai" das mesmas para 
    o conteudo ficar em coluna e alinhadas */

main {
    display: flex;
    grid-area: main;
    align-items: center;
    flex-direction: column;
   
}

/*  configurações da primeira seção da pagina*/

 .mainOne {
   
    background-color:  #58bebe;
    
} 

.card {
    margin-top: 2%;
}

/*  definindo as configurações da seção do main */

.mainTwo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:#58bebe;
}

.mainPromo {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2% 9% 2% 9%;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
}

.mainPromoPic {
    display: flex;
    width: 100%;
    padding: 2% 2% 2% 2%;
    justify-content: center;
    flex-wrap: wrap;

}

/*  dando padding para alinhamento das imgs*/
.item {
    padding: 2% 2% 2% 2%;
}

/*  configurações para o footer tanto para alinhamento
    quanto para cores e afins */

footer {
    display: flex;
    grid-area: footer;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color:black ;

}

.f {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    background-color: #31af7d;
    color: white;
    flex-direction: row;
}

.textoFooter{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2% 9% 0% 9%;
    align-items: center;
    flex-direction: column;
    background-color: #31af7d;
    color: white;
}

.footerInfo {
    width: 100%;
    height: 100%;
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2% 9% 2% 9%;
    text-align: center;

}

/*  configurar estilo/forma das informações do .Dev */

.idDev {
    width: 100%;
    height: 100%;
    background-color:#439342;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}
.linkNone{
    text-decoration: none;
}
.marc {
    padding: 7px 0px;
    font-size: 18px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}
